:root {
    --color-secondary: #18a096;
    --color-primary: #f8b333;
    --swiper-pagination-color: var(--color-primary);
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.7;
    --swiper-pagination-bottom: 2px;
    /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full bg-gray-50;
}
body {
    @apply h-full;
}
main {
    @apply p-4 md:p-10 mx-auto max-w-7xl h-full;
}
a:not([href*='#']),
button[type=submit] {
  @apply focus:animate-pulse;
}
nav {
    @apply bg-primary shadow-sm sticky top-0 z-10;
}
.logo {
    @apply bg-white rounded-full;
}
.form {
    @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-lg;
}
.form-error {
    @apply text-red-500 text-xs italic;
}
/* Form */
label {
    @apply block uppercase cursor-pointer tracking-wide text-gray-700 text-xs font-bold mb-2;
  }
 input, textarea {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
  }
  input[type=checkbox] {
    @apply cursor-pointer bg-white
  }
  select {
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
.checkbox {
    @apply w-4 h-4 p-0 mb-0 text-primary hover:bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500;
}
input[type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @apply bg-secondary border-white
}
  .button {
    @apply bg-secondary hover:bg-dark text-white font-bold py-2 px-4 rounded;
  }
  .form-select-icon {
    @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
  }
  .step-title {
    @apply py-8 text-lg
  }